/* GENERAL */
* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(225, 226, 230);
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

div {
    color: rgba(255, 255, 255, 0.895);
    position: center;
}

p {
    padding-top: 0%;
    font-size: 18px;
    font-family: Pt 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    margin-top: 3%;
}


/* TRANSITION */
a, .btn{
    transition: all 300ms ease;
}


/* DESKTOP NAV */
#desktop-nav {
    width: 100%;
    background-color: rgb(35, 35, 35);
    margin: 0;
    padding-bottom: 5%;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

nav, 
.nav-links{
    display: flex;
}

nav{
    justify-content: space-around;
    align-items: center;
    height: 17wh;
}

.nav-links{
    width: 100%;
    position: fixed; /* Fix the nav at the top */
    top: 0;
    left: 0;
    z-index: 1000; /* Ensure it is above other elements */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    list-style: none;
    font-size: 1rem;
    font-weight: 600;
}

.nav-links li {
    padding: 15px 30px; 
    text-align: center;
    flex: 20px; /* Make each list item take equal space */
    transition: transform 0.3s ease; 
}

.nav-links li:hover {
    transform: scale(1.1); /* Scale up the element to 110% of its size */
}
    
.nav-links li:nth-child(odd) {
    background-color: rgb(35, 35, 35);
}

.nav-links li:nth-child(even) {
    background-color: rgb(225, 226, 230)
}

.nav-links li:nth-child(odd) a {
    /* color: #220c0c; Black text for white background */
    color: #fff; /* White text for black background */
}

.nav-links li:nth-child(even) a {
    /* color: #fff; White text for black background */
    color: #220c0c;
}

/* Styling for the links */
.nav-links li a {
    color: inherit; /* Inherit color from parent */
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
}

a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
}


/* HAMBURGER NAV */
#hamburger-nav {
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}
  
.menu-links a {
    display: black;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;

}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
  }
  .hamburger-icon.open span:nth-child(2) {
    opacity: 0;
  }
  .hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
  }
  .hamburger-icon span:first-child {
    transform: none;
  }
  .hamburger-icon span:first-child {
    opacity: 1;
  }
  .hamburger-icon span:first-child {
    transform: none;
  }


/* SECTIONS */
section {
    box-sizing: border-box;
    min-height: fit-content;
    padding-bottom: 10%;
}

.section-container {
    display: flex;
}


/* PROFILE SECTION */
.intro-name{
    margin: 0%;
    position: center;
}

.name{
    line-height : 1.5;
    position: center;
    background-color: rgb(35, 35, 35)
}

#profile {
    justify-content: flex-start;
    gap: 5rem;
    height: 80vh;
    position: center;
    margin-bottom: 20%;
}

.section__pic-container {
    text-align: left; /* Aligns text to the left */
    display: flex;
    margin: auto 0;
    justify-content: flex-start; /* Centers the image horizontally */
}

.section__pic-container p {
    color: black;
}

.profile-pic {
    margin-left: 2%;
    width: 350px; /* Adjust the width as needed */
    height: 300px; /* Adjust the height as needed */
    border-radius: 50%; /* Makes the image circular */
    object-fit: cover; /* Ensures the image covers the given dimensions without stretching */
}

.section__text {
    align-self: center;    
    justify-content: center; /* Centers the image horizontally */
    text-align: center;
}

.section__text p {
    font-weight: 600;
}

.section__text__p1 {
    text-align: center;
}

.section__text__p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

.description {
    display: flex;
    flex-direction: column; /* Aligns children vertically */
    align-items: center; /* Centers the children horizontally */
    justify-content: flex-start; /* Aligns content to the start */
    border: 2px solid #000; /* Adds a solid black border */
    padding: 1rem;
    /* padding-right: 3rem; */
    border-radius: 20px; /* Adds rounded corners to the box */
    /* font-weight: 600; */
    text-align: center;;
    /* margin-top: 1%; Adds space between the image and the text */
    margin-left: 5%;
    margin-right: 3%;
    width: 90%; /* Sets the width of the box */
    height: auto; /* Sets the height of the box */
    background-color: rgb(235, 235, 235)
}

.myName {
    font-size: 2rem; 
    font-weight: 600;
    /* line-height : 0.7;*/
    color : white;
}

.profile-header {
    position: center;
}

.profile-header,
.profile-section {
    padding-bottom:4%;
}

span {
    font-size: 85%;
    font-weight: normal;
    color: rgb(0, 0, 0);
}

.italics {
    padding-top: 1%;
    font-style: italic;
    font-size: 80%;
    
}

.name-description {
    box-sizing: box;
    height: 70px;
    width: 100%; 
    position: center;
    display: flex;
    color: black;
}

l1 { /*Rotating Words*/
    font-size: 20px;
    display: block;
    height: 50px;
    width: 100%;
    position: center;
    animation: spin_words 7s infinite;
    padding-bottom: 20px;
    text-align: center;
}

.words{
    overflow: hidden;
    width: 100%;
    text-align: center;
    position: center;
    color: white;
}

.words:hover{
    cursor: default;
}

@keyframes spin_words{
    10%{
        transform: translateY(-135%);
    }
    20%{
        transform: translateY(-120%);
    }
    30%{
        transform: translateY(-235%);
    }
    40%{
        transform: translateY(-220%);
    }
    50%{
        transform: translateY(-335%);
    }
    60%{
        transform: translateY(-320%);
    }
    70%{
        transform: translateY(-435%);
    }
    80%{
        transform: translateY(-420%);
    }
    90%{
        transform: translateY(-535%);
    }
    100%{
        transform: translateY(-520%);
    }
}

.icons{
    text-align: center;
  
}

.icons a{
    width : 30px;
    height : 30px;
    display : inline-block;
    text-indent: -9999px;
    background-color : white;
    margin-right : 0.2em;
    margin-left : 0.2em;
    position : relative;
}

.icons a:after{
    content : '';
    position : absolute;
    left : 0;
    top : 0;
    right : 0;
    bottom : 0;    
    box-shadow : inset 0 0 2px 1.5px rgb(9, 11, 13);
}

.icons a.linkedin {
    background-image: url(images/linkoff.png);
    transition: transform 0.3s;
}

.icons a.linkedin:hover {
    background-image: url(images/linkon.png);
    transform: scale(1.3); /* Adjust the scale value as needed */
}

.icons a.github {
    background-image: url(images/gitoff.png);
    transition: transform 0.3s;
}

.icons a.github:hover {
    background-image: url(images/giton.png);
    transform: scale(1.3); /* Adjust the scale value as needed */
}

.icons a.instagram {
    background-image: url(images/instaoff.png);
    transition: transform 0.3s;
}

.icons a.instagram:hover {
    background-image: url(images/instaon.png);
    transform: scale(1.3); /* Adjust the scale value as needed */
}

.icons a.mail {
    background-image: url(images/mailoff.png);
    transition: transform 0.3s;
}

.icons a.mail:hover {
    background-image: url(images/mailon.png);
    transform: scale(1.3); /* Adjust the scale value as needed */
}

.icons a.facebook {
    background-image: url(images/facebookoff.png);
    transition: transform 0.3s;
}

.icons a.facebook:hover {
    background-image: url(images/facebookon.png);
    transform: scale(1.3); /* Adjust the scale value as needed */
}

.graph{
    margin-top: 5%;
}

.graph li{
    background: linear-gradient(90deg, rgb(147, 162, 223) 0%, rgb(51, 77, 211) 100%);
    color : rgb(1, 0, 9);
    padding : 0.4em 1em;
    margin : 0.4em 0;
    border-radius : 20px;
    box-sizing : border-box;
    list-style: none;
    margin-left: 20%;
    margin-right: 20%;
}

.graph li::before{
    content: attr(data-score);
    float : right;
}

.graph li[data-score="100%"]{width : 70%;}
.graph li[data-score="95%"]{width : 65%;}
.graph li[data-score="90%"]{width : 60%;}
.graph li[data-score="85%"]{width : 55%;}
.graph li[data-score="80%"]{width : 50%;}
.graph li[data-score="70%"]{width : 40%;}
.graph li[data-score="60%"]{width : 30%;}
.graph li[data-score="50%"]{width : 20%;}

@media ( min-width : 768px) {
    .picture{
        position : fixed;
        left : 40vw;
        top : 0;
        width : 60vw;
        height : 100vh;
        padding : 0;
    }

    .timeline li{
        width : 30%;

    }
    .timeline li:nth-child(even){
            margin-right : auto;
    }
}

/* EXPERIENCE SECTION */
  #experience {
    position: relative;
  }
  .section__text__p1 p{
    font-size: 1rem;
    color: rgb(72, 72, 72);

  }

  .title {
    font-size: 2.25rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1%;
    color: rgb(50, 50, 90)
  }
  .experience-details-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .details-container {
    display: flex;
    flex-direction: column; /* Ensures the location-date is below the title-container */
    text-align: center;
    align-items: center; /* Centers items horizontally */
    width: 80%; /* Set a specific width */
    max-width: 1500px; /* Optional: Limit the maximum width */
    margin: 0 auto; /* Center the container horizontally */
    margin-bottom: 2%;
    background: linear-gradient(90deg, rgb(200, 200, 200), rgb(130, 130, 145));
    color: rgb(1, 0, 9);
    padding: 1em; /* Adjust padding to create space inside the container */
    border-radius: 20px;
    box-sizing: border-box;
    list-style: none;
  }

  .title-container {
    display: flex;
    align-items: center; 
    justify-content: center; 
    width: 100%;
  }

  .experience-sub-title {
    margin-bottom: 3px;
    color: rgb(41, 41, 41);
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center; /* Ensures the text aligns left within its container */
  }

  .job-title{
    font-size: 1.32rem;
    margin: 0;
    color: rgb(41, 41, 41);
    text-align: center; /* Aligns the text to the right within its container */
    margin-left: 5px;
  }
  
  .location-date {
    font-size: 1rem;
    text-align: center; /* Aligns the text to the center within its container */
    margin-top: 5px; /* Adds space between the job title and location/date */
  }
  
  article {
    display: flex;
    width: 10rem;
    justify-content: space-around;
    gap: 0.5rem;
  }
  
  article .icon {
    cursor: default;
  }

/* PROJECTS SECTION */
  .projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
    gap: 30px; /* Space between the items */
    padding: 0;
    margin: 0 auto;
    list-style-type: none; /* Removes default list styling */
    width: 90%; /* Set the width of the grid */
  }
  
  .project{
    background: linear-gradient(90deg, rgb(200, 200, 200), rgb(130, 130, 145));
    color: rgb(1, 0, 9);
    padding: 1em; 
    text-align: center;
    box-sizing: border-box;
    border-radius: 20px;
  }

/* NOTES SECTION */
  .courses {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
    gap: 30px; /* Space between the items */
    padding: 0;
    margin: 0 auto;
    list-style-type: none; /* Removes default list styling */
    width: 90%; /* Set the width of the grid */
  }
  
  .course {
    background: linear-gradient(90deg, rgb(200, 200, 200), rgb(130, 130, 145));
    color: rgb(1, 0, 9);
    padding: 1em; 
    text-align: center;
    box-sizing: border-box;
    /* margin-left: 2%;
    margin-right: 2%; */
    border-radius: 20px;
  }

/* FOOTER SECTION */
    footer {
        height: 26vh;
        /* margin: 0 1rem; */
        padding-top: 5%;
    }

    footer p {
        text-align: center;
    }